@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Employee  Added Successfully </h4><br />
<a asp-controller="Employee" asp-action="Details">View All Employees</a>
<a asp-controller="Employee" asp-action="Create">Add Employee</a>
